---
layout: default
ref: home
lang: pt
country: br
title:  "JavaScript, AngularJS, React, Ionic, PWA, Node, Express, .NET e tudo sobre web"
permalink: /
---

<div class="call-out">
    <div class="row">
        <div class="col-sm-12">
            <h1>{...}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <small style="font-size: 0.7em">JavaScript, AngularJS, React, Ionic, PWA, Node, Express, .NET e tudo sobre web</small>
        </div>
    </div>
</div>

{% assign posts=site.posts | where:"lang", page.lang %}

{% if posts.size == 0 %}
    <p style="padding: 30px">Nenhum post disponível.. <a href="/about">Saiba mais sobre o blog</a> ou <a href="/about#contact-me">contate-me</a></p>
{% else %}

<div class="posts container-fluid">
    {% for post in posts %}
    <div class="post-teaser">
        <header>
            <h1>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                </a>
            </h1>
            <p class="meta">
                {% include post-date.html date=post.date %}
                {% include post-minutes-to-read.html %}
            </p>
        </header>
        
        <div class="excerpt">
            <p>{{ post.excerpt }}</p>

            <a class="button" href="{{ post.url | prepend: site.baseurl }}">
                Continue lendo
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}