---
layout: page
ref: about
lang: pt
country: br
title:  "Sobre"
permalink: /about/
feature-img: "img/hero-smaller.jpg"
---
<h2>Sobre mim</h2>
<p>
    Olá, sou desenvolvedor e empreendedor ha 12 anos, já trabalhei em diversos projetos, de startups inovadoras a multinacionais com sistemas legados.
    Comecei com PHP e MySql, passei por vários anos programando na plataforma .NET e C#, trabalhei como programador Java na Europa e Austrália e agora voltei pra minha linguagem
    preferida, na qual eu aprendi a programar há muitos anos: JavaScript. Sou um entusista MEAN Stack e empreendedorismo. Desenvolvo front-end e back-end. Se você precisa de algo, sinta-se à vontade em <a href="#contact-me">me contatar</a>
</p>

<div class="row">
    <div class="col-md-4 col-sm-5">
        <h2>Qualificações</h2>
        
        {% include components/progress-bar.html skill='HTML5' percent='100' color='success' %}

        {% include components/progress-bar.html skill='CSS3' percent='100' color='success' %}

        {% include components/progress-bar.html skill='JavaScript' percent='100' color='success' %}
        
        {% include components/progress-bar.html skill='JQuery' percent='90' color='success' %}

        {% include components/progress-bar.html skill='Node' percent='80' color='primary' %}
        
        {% include components/progress-bar.html skill='Angular' percent='80' color='warning' %}

        {% include components/progress-bar.html skill='Ionic' percent='80' color='warnning' %}

        {% include components/progress-bar.html skill='.Net' percent='95' color='info' %}
        
        {% include components/progress-bar.html skill='C#' percent='100' color='success' %}
        
        {% include components/progress-bar.html skill='Java' percent='80' color='success' %}
        
        {% include components/progress-bar.html skill='Ruby' percent='50' color='warnning' %}

        {% include components/progress-bar.html skill='PHP' percent='70' color='primary' %}
        
        {% include components/progress-bar.html skill='Bootstrap' percent='95' color='success' %}
        
        {% include components/progress-bar.html skill='Material Design' percent='45' color='warnning' %}

        {% include components/progress-bar.html skill='MySql' percent='75' color='info' %}
        
        {% include components/progress-bar.html skill='MongoDB' percent='80' color='info' %}
        
        {% include components/progress-bar.html skill='Sql Server' percent='95' color='success' %}

        {% include components/progress-bar.html skill='WordPress' percent='95' color='success' %}
        
        {% include components/progress-bar.html skill='Git/GitHub' percent='90' color='success' %}
        
        {% include components/progress-bar.html skill='PhoneGap/Cordova' percent='60' color='warnning' %}
        
        {% include components/progress-bar.html skill='Processadores CSS' percent='90' color='primary' %}

        {% include components/progress-bar.html skill='Processadores HTML' percent='60' color='primary' %}
        
        {% include components/progress-bar.html skill='TypeScript' percent='70' color='primary' %}
        
        {% include components/progress-bar.html skill='Jekyll' percent='80' color='info' %}
        
        {% include components/progress-bar.html skill='Beber Café' percent='100' color='danger' %}
        
        {% include components/progress-bar.html skill='Estudar e aprender coisas novas' percent='100' color='danger' %}
    </div>

    <div class="col-md-8 col-sm-7">
        <h2>Últimos Projetos</h2>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/responsive-websites-s.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Zsofi's House Website</h4>
                        <xsmall>Freelancer - Budapeste, Hungria</xsmall>
                        <p><small>Trabalho de otimização de performance no front-end, ajustes no design reponsivo do website e adaptação para mobile</small></p>
                        <a href="https://vimeo.com/157547302" target="_blank" class="btn btn-primary"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Video 1</a>
                        <a href="https://vimeo.com/157547329" target="_blank" class="btn btn-primary"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Video 2</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/sneak-b.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Sneak</h4>
                        <xsmall>Projeto Pessoal</xsmall>
                        <p><small>Sneak é um gerador de site estático com pré-processadores centrado em performance feito com <a href="http://gruntjs.com/" target="_blank">Grunt</a> e baseado no <a href="https://html5boilerplate.com/" target="_blank">HTML5Boilerplaite</a></small></p>
                        <a class="btn btn-default" target="_blank" href="https://github.com/felipeblini/sneak"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/bizubuzu.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">BizúBuzu</h4>
                        <xsmall>Startup, Co-fundador</xsmall>
                        <p><small>Startup premiada em Brasília e acelerada no Chile onde fui responsável pelo desenvolvimento de MVP's, Landing Pages e trabalhar em time para desenvolvimento do Modelo de Negócio</small></p>
                        <a class="btn btn-default" target="_blank" href="http://www.bizubuzu.com"><i class="fa fa-globe"></i></a>
                        <a class="btn btn-default" target="_blank" href="https://www.facebook.com/bizubuzu"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/imobicar.png" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Imobicar</h4>
                        <xsmall>Co-fundador</xsmall>
                        <p><small>Site de classificados de imóveis e veículos no interior de São Paulo</small></p>
                        <a class="btn btn-default disabled" target="_blank" href=""><i class="fa fa-globe"></i></a>
                        <a class="btn btn-default disabled" target="_blank" href="https://www.facebook.com/imobicar"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/epsj.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">EPSJ</h4>
                        <xsmall class="del">Startup, Co-fundador</xsmall>
                        <p><small>Plataforma on-line que conecta advogados para contratação de serviços paralegais como advogados correspondêntes e peritos em todo Brasil</small></p>
                        <a class="btn btn-default disabled" target="_blank" href="http://www.epsj.com.br"><i class="fa fa-globe"></i></a>
                        <a class="btn btn-default" target="_blank" href="https://www.facebook.com/epsjface"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-12 contact-me" id="contact-me">
        <h2>Contate-me</h2>
        Você pode me encontrar nos seguintes canais:
        <ul class="list-unstyled" style="margin-top: 10px">
            <li><i class="fa fa-envelope" aria-hidden="true"></i> felipe@felipeblini.net</li>
            <li><i class="fa fa-whatsapp" aria-hidden="true"></i> +61 0 431 159 469</li>
            <li><i class="fa fa-skype" aria-hidden="true"></i> blini_bra</li>
        </ul>
    </div>
</div>

