---
layout: default
ref: home
lang: pt
country: br
title:  "Home"
permalink: /
---

<div class="call-out">
    <img src="/img/angular-ionic-node.png" alt="">
</div>

{% assign posts=site.posts | where:"lang", page.lang %}

<div class="posts">
    {% for post in posts %}
    <div class="post-teaser">
        <header>
            <h1>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
            </a>
            </h1>
            <p class="meta">
                {% include date.html date=post.date %}
            </p>
        </header>
        <div class="excerpt">
            <p>{{ post.excerpt }}</p>


            <a class="button" href="{{ post.url | prepend: site.baseurl }}">
                    Continue lendo
                </a>
        </div>
    </div>
    {% endfor %}
</div>
<!--<div class="container">
    <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>
</div>-->