<svg class="svg--source" width="0" height="0" aria-hidden="true">
    <!-- Twitter -->
    {% include icons/svg/icon-twitter.svg %}

    <!-- Facebook -->
    {% include icons/svg/icon-facebook.svg %}

    <!-- github -->
    {% include icons/svg/icon-github.svg %}

    <!-- youtube -->
    {% include icons/svg/icon-youtube.svg %}

    <!-- Stack Overflow -->
    {% include icons/svg/icon-stackoverflow.svg %}
    
    <!-- Flickr -->
    {% include icons/svg/icon-flickr.svg %}

    <!-- LinkedIn -->
    {% include icons/svg/icon-linkedin.svg %}

    <!-- Codepen -->
    {% include icons/svg/icon-codepen.svg %}
    
    <!-- rss -->
    {% include icons/svg/icon-rss.svg %}
    
</svg>