@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

body {
  font-family: 'Rubik', sans-serif;
}

.intro {
  background-color: rgb(15, 118, 153);
  min-height: 100vh;
  color: #fff;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-size: 1.3rem;
  background-image: url('./images/04.jpg');
  background-size: cover;
}

.intro .container {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
    background-color: rgb(15, 118, 153);
    bottom: 0;
    left: 0;  
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    opacity: .8
}

h1 {
  font-weight: 700;
  font-size: 68px;
}

.btn-custom,
.btn-custom:active {
  background-color: #ff3366;
  border-color: #ff3366;
  color: #ffffff;
  padding: 13px 48px;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 100px;
  font-weight: 500
}
.btn-custom:hover,
.btn-custom:focus
{
  color: #ffffff;
  background-color: #e50039;
  border-color: #ff3366;
}

.btn-custom:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.butons {
  padding-top: 50px;
  padding-bottom: 50px;
}

.butons a {
  display: inline-block;
  margin-right: 15px;
}

.intro .servicos {
  margin-top: 40px;
}

.intro .servicos i {
  font-size: 96px
}

.intro .servicos p {
  font-size: 1.3rem;
  font-weight: 500;
}
.google-map {
  height: 25rem;
  position: relative;
}
.google-map iframe {
  height: 100%;
  width: 100%;
}

section.contact {
  padding: 60px 0;
}

h2 {
  font-size: 3rem;
  font-weight: normal
}