.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar {
    border-radius: 0 !important;
    border-bottom: none;
    margin-bottom: 0;
}

li.language-control {
    padding: 20px !important;
}

li.language-control .btn:first-child {
    outline: none;
    cursor: default;
}

li.language-control .btn:first-child:hover {
    background-color: white;
}

.navbar .navbar-collapse > ul > li {
    padding: 15px;
}

.navbar-brand {
    margin-left: 20px !important;
}

button.navbar-toggle {
    margin: 18px
}

.navbar-brand > img {
    width: 100px;
}

.menu-icon {
    margin-right: 25px !important;
}

@media (min-width: 267px) { 
    .navbar-brand > img {
        width: 181px;
    }
}

@media (min-width: 767px) {
    
    .navbar {
        height: 88px !important;
    }
    
    .navbar-brand > img {
        width: 245px
    }
}

@media (min-width: 855px) {
    .navbar {
        height: 111px !important;
    }
    
    .navbar-brand > img {
        width: auto
    }
    
    .navbar .navbar-collapse > ul > li {
        padding: 30px !important;
    }
    
    .navbar .navbar-collapse > ul > li.language-control {
        padding: 35px !important;
        position: relative;
        z-index: 9999;
    }
}