.newsletter-form {
    background: #222;

    input[type='text'],
    input[type='email'] {
        width: 100%;
        padding: 17.4px;
        border: none;
        outline: none;
        font-size: 30px;
        background: transparent;
        border-bottom: solid 1px #ccc;
    }

    button {
        border: none;
        font-size: 30px;
        margin: 0;
        color: #fff;
        background-color: $link-color;
        border-radius: 0px;
        height: 78px;
        width: 100%;
        border-bottom: solid 1px #ccc;

        &:hover {
            color: #fff;
            background-color: $link-color-hover;
        }
    }

    .row div {
        padding: 0 !important;
    }
}