.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar {
    border-radius: 0 !important;
    border-bottom: none;
    margin-bottom: 0;
}

.navbar .navbar-collapse > ul > li {
    padding: 15px !important;
}

.navbar-brand {
    margin-left: 20px !important;
}

button.navbar-toggle {
    margin: 18px
}

.navbar-brand > img {
    width: 100px;
}

.navbar-right {
    padding: 20px !important;
}

.navbar-right > a {
    border: solid 1px #ccc;
    padding: 8px !important;
    border-radius: 3px
}

.navbar-right .fa-custom {
    color: #333;
    position: relative;
    margin-right: 5px;
    top: -3px;
}

@media (min-width: 267px) {
    .navbar-brand > img {
        width: 150px;
    }
}

@media (min-width: 767px) {
    
    .navbar {
        height: 88px !important;
    }
    
    .navbar-brand > img {
        width: 180px
    }
}

@media (min-width: 855px) {
    .navbar {
        height: 111px !important;
    }
    
    .navbar-brand > img {
        width: auto
    }
    
    .navbar-right {
        padding: 35px !important;
    }
    
    .navbar .navbar-collapse > ul > li {
        padding: 30px !important;
    }
}