// Header text feature
.call-out {
    @extend %padding-small;
    display: inline-block;
    width: 100%;
    background-image: url(../img/squared-paper.jpg);
    //background-color: $header-desc-background-color;
    font-size: 1.2em;
    text-align: center;
    color: $header-desc-text-color;
    border-top: solid 1px #ccc;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(247,147,8,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(247,147,8,1);
    box-shadow: 0px 3px 5px 0px rgba(247,147,8,1);
    
    h1 {
      color: #333;
    }
}

// Post listing
.posts {
  .post-teaser {
    @extend %padding-small;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}

// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}

.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
