---
layout: page
ref: about
lang: pt
country: br
title:  "Sobre"
permalink: /about/
feature-img: "img/hero-smaller.jpg"
---
<h2>Sobre mim</h2>

<p>
    Olá, sou Desenvolvedor Web Full-Stack com 12 anos de experiência e com veia empreendedora, tenho experiência no exterior trabalhando em diversos projetos, na Alemanha, Espanha, Hungria e Austrália, de startups inovadoras a sistemas legados em multinacionais e no governo Brasileiro, fui também co-fundador de uma startup vencedora do DAL 2013 (Desarrollando America Latina) em Brasília, premiada com uma aceleração de 3 meses no Chile.
</p>
<p>
    Comecei como desenvolvedor PHP e MySql, passei vários anos programando na plataforma .NET, C# e Sql Server, trabalhei durante 1 ano com Java, Hibernate, Mysql, Spring e Maven enquanto estive fora do Brasil e atualmente dedico meu tempo integralmente no aprendizado constante e desenvolvimento com JavaScript, que desde a faculdade é minha linguagem preferida, na qual eu aprendi a programar e criei meu primeiro app.    
</p>
<p>
    Esse blog foi criado com o intuito de ajudar a comunidade de desenvolvedores, novatos ou experientes, transferindo os meus conhecimentos e assim expandindo-os, abordando também novas tecnologias e novidades do mercado assim que possível. 
</p>
<p>
    Postarei alguns artigos também em inglês com o intuito de estar sempre em contato com este idioma e ajudar você, da área de TI, a melhorar de alguma forma o seu inglês comparando os artigos que terão o mesmo conteúdo em português e em inglês, está muito claro pra mim que programadores que ainda ignoram esse idioma estão muito aquém dos que o entende, e se você tiver alguma dúvida sobre o Inglês ou tecnologias abordadas aqui pode ficar tranquilo(a), deixe um comentário no artigo e ficarei mais do que feliz em ajudar :)
</p>

<blockquote class="blockquote">
    <p><i class="fa fa-quote-left quote" aria-hidden="true"></i>Ensinar é aprender duas vezes.</p>
    <footer>Joseph Joubert</footer>
</blockquote>

<div class="row">
    <div class="col-md-4 col-sm-5">
        <h2>Habilidades</h2>
        
        {% include components/progress-bar.html skill='HTML5' percent='100' color='success' %}

        {% include components/progress-bar.html skill='CSS3' percent='100' color='success' %}

        {% include components/progress-bar.html skill='JavaScript' percent='100' color='success' %}
        
        {% include components/progress-bar.html skill='JQuery' percent='100' color='success' %}

        {% include components/progress-bar.html skill='Ionic' percent='100' color='warnning' %}

        {% include components/progress-bar.html skill='Node' percent='90' color='primary' %}
        
        {% include components/progress-bar.html skill='Angular' percent='90' color='warning' %}
        
        {% include components/progress-bar.html skill='.Net' percent='95' color='info' %}
        
        {% include components/progress-bar.html skill='C#' percent='100' color='success' %}
        
        {% include components/progress-bar.html skill='Java' percent='80' color='success' %}
        
        {% include components/progress-bar.html skill='Ruby' percent='60' color='warnning' %}

        {% include components/progress-bar.html skill='PHP' percent='70' color='primary' %}
        
        {% include components/progress-bar.html skill='Bootstrap' percent='100' color='success' %}
        
        {% include components/progress-bar.html skill='Material Design' percent='90' color='warnning' %}

        {% include components/progress-bar.html skill='MySql' percent='75' color='info' %}
        
        {% include components/progress-bar.html skill='MongoDB' percent='80' color='info' %}
        
        {% include components/progress-bar.html skill='Sql Server' percent='95' color='success' %}

        {% include components/progress-bar.html skill='WordPress' percent='95' color='success' %}
        
        {% include components/progress-bar.html skill='Git/GitHub' percent='90' color='success' %}
        
        {% include components/progress-bar.html skill='PhoneGap/Cordova' percent='100' color='warnning' %}
        
        {% include components/progress-bar.html skill='Processadores CSS' percent='90' color='primary' %}

        {% include components/progress-bar.html skill='Processadores HTML' percent='60' color='primary' %}
        
        {% include components/progress-bar.html skill='TypeScript' percent='70' color='primary' %}
        
        {% include components/progress-bar.html skill='Jekyll' percent='80' color='info' %}
        
        {% include components/progress-bar.html skill='<i class="fa fa-coffee" aria-hidden="true"></i> Tomar Café' percent='100' color='success' %}
        
        {% include components/progress-bar.html skill='<i class="fa fa-book" aria-hidden="true"></i> Aprender coisas novas' percent='100' color='success' %}
    </div>

    <div class="col-md-8 col-sm-7">
        <h2>Últimos Projetos</h2>
        
        <div class="row">
            <!-- Project 1 -->
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/responsive-websites-s.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Zsofi's House Website</h4>
                        <xsmall>Freelancer - Budapeste, Hungria</xsmall>
                        <p><small>Trabalho de otimização de performance no front-end, ajustes no design reponsivo do website e adaptação para mobile</small></p>
                        <a href="https://vimeo.com/157547302" target="_blank" class="btn btn-primary"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Video 1</a>
                        <a href="https://vimeo.com/157547329" target="_blank" class="btn btn-primary"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Video 2</a>
                    </div>
                </div>
            </div>
            
            <!-- Project 2 -->
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/bongo.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Bongo Knows</h4>
                        <xsmall>Freelancer - Austrália</xsmall>
                        <p><small>Codificação de landing page e webapi em Java para captação de micro pagamentos cobrados diretamente na operadora de celular do usuário. Produto funcionando na Holanda, Alemanha e Suiça.</small></p>
                        <a href="http://nl.dcb.askbongo.com/" target="_blank" class="btn btn-primary"><i class="fa fa-globe" aria-hidden="true"></i> Holanda</a>
                        <a href="http://de.dcb.askbongo.com/" target="_blank" class="btn btn-primary"><i class="fa fa-globe" aria-hidden="true"></i> Alemanha</a>
                        <a href="http://ch.dcb.askbongo.com/" target="_blank" class="btn btn-primary"><i class="fa fa-globe" aria-hidden="true"></i> Suiça</a>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <!-- Project 3 -->
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/bizubuzu.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">BizuBuzú</h4>
                        <xsmall>Startup, Co-fundador</xsmall>
                        <p><small>Startup premiada em Brasília e acelerada no Chile onde fui responsável pelo desenvolvimento de MVP's, Landing Pages e trabalhar em time para desenvolvimento do Modelo de Negócio</small></p>
                        <a class="btn btn-default" target="_blank" href="http://www.bizubuzu.com.br"><i class="fa fa-globe"></i></a>
                        <a class="btn btn-default" target="_blank" href="https://www.facebook.com/bizubuzu"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            
            <!-- Project 4 -->
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/sneak-b.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Sneak</h4>
                        <xsmall>Projeto Pessoal</xsmall>
                        <p><small>Sneak é um gerador de site estático com pré-processadores centrado em performance feito com <a href="http://gruntjs.com/" target="_blank">Grunt</a> e baseado no <a href="https://html5boilerplate.com/" target="_blank">HTML5Boilerplaite</a></small></p>
                        <a class="btn btn-default" target="_blank" href="https://github.com/felipeblini/sneak"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <!-- Project 5 -->
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/imobicar.png" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Imobicar</h4>
                        <xsmall>Co-fundador</xsmall>
                        <p><small>Site de classificados de imóveis e veículos no interior de São Paulo</small></p>
                        <a class="btn btn-default disabled" target="_blank" href=""><i class="fa fa-globe"></i></a>
                        <a class="btn btn-default disabled" target="_blank" href="https://www.facebook.com/imobicar"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            
            <!-- Project 6 -->
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/epsj.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">EPSJ</h4>
                        <xsmall class="del">Startup, Co-fundador</xsmall>
                        <p><small>Plataforma on-line que conecta advogados para contratação de serviços paralegais como advogados correspondêntes e peritos em todo Brasil</small></p>
                        <a class="btn btn-default disabled" target="_blank" href="http://www.epsj.com.br"><i class="fa fa-globe"></i></a>
                        <a class="btn btn-default" target="_blank" href="https://www.facebook.com/epsjface"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-sm-12 contact-me" id="contact-me">
        <h2>Contate-me</h2>
        Você pode me encontrar nos seguintes canais:
        <ul class="list-unstyled" style="margin-top: 10px">
            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ site.theme.email }}</li>
            <li><i class="fa fa-whatsapp" aria-hidden="true"></i> {{ site.theme.whatsapp }}</li>
            <li><i class="fa fa-skype" aria-hidden="true"></i> {{ site.theme.skype }}</li>
        </ul>
    </div>
</div>

