---
layout: page
ref: about
lang: en
country: us
title:  "About"
permalink: /en/about/
feature-img: "img/hero-smaller.jpg"
---
<h2>About Me</h2>
<p>
    Hi, I'm Felipe from Brazil, I'm a software developer for 12 years and entrepreneur since ever, I've already worked on various projects, from small and innovative startups to legacies softwares in multinational companies and government.
    I have work experience as a Senior Developer in several places in Europe and in Australia and my own awarded startup accelered in Chile.
</p>
    I've started my career with PHP and MySql, I went through many years developing in .NET Framework and C#, I've worked with Java abroad and now I am back and I returned to my favourite language which I learned at the university 12 years ago how develop systems, when it just was considered a joke: JavaScript.
</p>

<p>
    I created this blog intenting to enlarge my skils and help my friends to learn programming and the developers community spreading the knowledge
</p>

<blockquote class="blockquote">
    <p><i class="fa fa-quote-left quote" aria-hidden="true"></i>To teach is to learn twice.</p>
    <footer>Joseph Joubert</footer>
</blockquote>

<p>
    I am a  MEAN Stack entrepreneurship enthusiastic. I develop in front-end and my origin is back-end. You can feel free to <a href="#contact-me">contact me</a> if you are in need or just want anything, I will become more than happy to help ;)
</p>

<div class="row">
    <!-- Skills -->
    <div class="col-md-4 col-sm-5">
        <h2>Skills</h2>
        
        {% include components/progress-bar.html skill='HTML5' percent='100' color='success' %}

        {% include components/progress-bar.html skill='CSS3' percent='100' color='success' %}

        {% include components/progress-bar.html skill='JavaScript' percent='100' color='success' %}
        
        {% include components/progress-bar.html skill='JQuery' percent='90' color='success' %}

        {% include components/progress-bar.html skill='Node' percent='80' color='primary' %}
        
        {% include components/progress-bar.html skill='Angular' percent='80' color='warning' %}

        {% include components/progress-bar.html skill='Ionic' percent='80' color='warnning' %}

        {% include components/progress-bar.html skill='.Net' percent='95' color='info' %}
        
        {% include components/progress-bar.html skill='C#' percent='100' color='success' %}
        
        {% include components/progress-bar.html skill='Java' percent='80' color='success' %}
        
        {% include components/progress-bar.html skill='Ruby' percent='50' color='warnning' %}

        {% include components/progress-bar.html skill='PHP' percent='70' color='primary' %}
        
        {% include components/progress-bar.html skill='Bootstrap' percent='95' color='success' %}
        
        {% include components/progress-bar.html skill='Material Design' percent='45' color='warnning' %}

        {% include components/progress-bar.html skill='MySql' percent='75' color='info' %}
        
        {% include components/progress-bar.html skill='MongoDB' percent='80' color='info' %}
        
        {% include components/progress-bar.html skill='Sql Server' percent='95' color='success' %}

        {% include components/progress-bar.html skill='WordPress' percent='95' color='success' %}
        
        {% include components/progress-bar.html skill='Git/GitHub' percent='90' color='success' %}
        
        {% include components/progress-bar.html skill='PhoneGap/Cordova' percent='60' color='warnning' %}
        
        {% include components/progress-bar.html skill='Processadores CSS' percent='90' color='primary' %}

        {% include components/progress-bar.html skill='Processadores HTML' percent='60' color='primary' %}
        
        {% include components/progress-bar.html skill='TypeScript' percent='70' color='primary' %}
        
        {% include components/progress-bar.html skill='Jekyll' percent='80' color='info' %}
        
        {% include components/progress-bar.html skill='<i class="fa fa-coffee" aria-hidden="true"></i> Drink coffee' percent='100' color='danger' %}
        
        {% include components/progress-bar.html skill='<i class="fa fa-book" aria-hidden="true"></i> Study and learn new stuff' percent='100' color='danger' %}
    </div>

    <!-- Last Projects -->
    <div class="col-md-8 col-sm-7">
        <h2>Last Projects</h2>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/responsive-websites-s.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Zsofi's House Website</h4>
                        <xsmall>Freelancer - Budapest, Hungary</xsmall>
                        <p><small>It was a front-end performance optimization I've made for a hostel when I eas in Budapest, I also have ajusted the responsive layout and created the mobile version</small></p>
                        <a href="https://vimeo.com/157547302" target="_blank" class="btn btn-primary"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Video 1</a>
                        <a href="https://vimeo.com/157547329" target="_blank" class="btn btn-primary"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Video 2</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/sneak-b.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Sneak</h4>
                        <xsmall>Personal Project</xsmall>
                        <p><small>Sneak is a staic website generator with html/css/js pre-processors, it is focused in generating performatic code based on <a href="https://html5boilerplate.com/" target="_blank">HTML5Boilerplaite</a>
                        and made with <a href="http://gruntjs.com/" target="_blank">Grunt</a></small></p>
                        <a class="btn btn-default" target="_blank" href="https://github.com/felipeblini/sneak"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/bizubuzu.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">BizúBuzu</h4>
                        <xsmall>Startup, Co-founder</xsmall>
                        <p><small>Awardee startup in Brazil and accelerated in Chile where I was the respnsable to develop MVP's, Landing Pages and colaborate with the team to build the Business Model</small></p>
                        <a class="btn btn-default" target="_blank" href="http://www.bizubuzu.com"><i class="fa fa-globe"></i></a>
                        <a class="btn btn-default" target="_blank" href="https://www.facebook.com/bizubuzu"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/imobicar.png" alt="">
                    <div class="card-block">
                        <h4 class="card-title">Imobicar</h4>
                        <xsmall>Co-founder</xsmall>
                        <p><small>Real state and vehicles classified website in the country-side of estate os São Paulo - Brazil</small></p>
                        <a class="btn btn-default disabled" target="_blank" href=""><i class="fa fa-globe"></i></a>
                        <a class="btn btn-default disabled" target="_blank" href="https://www.facebook.com/imobicar"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card slideanim">
                    <img class="card-img negative" src="/img/epsj.jpg" alt="">
                    <div class="card-block">
                        <h4 class="card-title">EPSJ</h4>
                        <xsmall class="del">Startup, Co-founder</xsmall>
                        <p><small>Website that connects laweyers with other lawyers for hiring services in the legal market and improve the judicial quality in Brazil</small></p>
                        <a class="btn btn-default disabled" target="_blank" href="http://www.epsj.com.br"><i class="fa fa-globe"></i></a>
                        <a class="btn btn-default" target="_blank" href="https://www.facebook.com/epsjface"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Contact me -->
    <div class="col-sm-12 contact-me" id="contact-me">
        <h2>Contact me</h2>
        You can find me in the following ways:
        <ul class="list-unstyled" style="margin-top: 10px">
            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{ site.theme.email }}</li>
            <li><i class="fa fa-whatsapp" aria-hidden="true"></i> {{ site.theme.whatsapp }}</li>
            <li><i class="fa fa-skype" aria-hidden="true"></i> {{ site.theme.skype }}</li>
        </ul>
    </div>
</div>