---
layout: default
ref: home
lang: en
country: us
title:  "Home"
permalink: /en/
---

<div class="call-out">
    <div class="row">
        <div class="col-sm-12">
            <h1>{}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            JavaScript, AngularJS, React, Ionic, PWA, Node, Express, .NET and all about web
        </div>
    </div>
</div>

{% assign posts=site.posts | where:"lang", page.lang %}

<p style="padding: 30px">No articles available yet.. <a href="/en/about">Find out more about this blog</a> or <a href="/en/about#contact-me">contact me</a></p>

<!--{% if posts.size == 0 %}
    <p style="padding: 30px">No articles available yet.. <a href="/en/about">Find out more about this blog</a> or <a href="/en/about#contact-me">contact me</a></p>
{% else %}-->

<!--<div class="posts container-fluid">
    {% for post in posts %}
    <div class="post-teaser">
        <header>
            <h1>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                </a>
            </h1>
            <p class="meta">
                {% include post-date.html date=post.date %}
            </p>
        </header>
        
        <div class="excerpt">
            <p>{{ post.excerpt }}</p>

            <a class="button" href="{{ post.url | prepend: site.baseurl }}">
                Continue lendo
            </a>
        </div>
    </div>
    {% endfor %}
</div>-->

{% endif %}