---
layout: default
---
<article {% if page.feature-img %} class="feature-image" {% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
        {% if page.lang == 'pt' %}
            {% include post-date.html date=page.date %}
        {% else %}
            {{ page.date | date: "%B %-d, %Y" }}
        {% endif %}
        
        {% include post-minutes-to-read.html %}
        
        {% if page.author %} - {{ page.author }} {% endif %}
    </p>
  </header>
  <section class="post-content container-fluid">{{ content }}</section>
</article>

<div class="signature">
  <img src="img/avatar3.jpg?v=0.0.0" class="img-responsive img-circle img-avatar">
    <div class="col-sm-4 col-sm-offset-4 text-center">
      <h6>Felipe Blini</h6>
      <span>Full Stack JavaScript Developer</span>
    </div>
</div>

<!-- Disqus -->
{{ disqus_shortname }}
{% if site.theme.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
