%padding-small {
  padding: $padding-x-small $padding-x-small * 2;
  @media (max-width: 1000px) {
    padding: $padding-x-small $padding-x-small;
  }
}
%padding-regular {
  padding: $padding-small $padding-large;
  @media (max-width: 1000px) {
    padding: $padding-small * 1.5 $padding-large / 1.6;
  }
}
%padding-regular-p {
  padding: 0 $padding-large;
  @media (max-width: 1000px) {
    padding: 0 $padding-large / 1.6;
  }
}
%padding-small-p {
  padding: 0 $padding-small;
  @media (max-width: 1000px) {
    padding: 0 $padding-small / 1.6;
  }
}

%padding-small-m {
  padding: 0 $padding-small;
  @media (max-width: 1000px) {
    padding: 0 $padding-small;
  }
}
// @mixin link($color) {
//   color: $color;
//   border-bottom: 1px dashed $color;
//   text-decoration: none;
// }
%link-hover {
  color: $link-color-hover;
  text-decoration: none;
  border-bottom: 0;
}
%link-title-hover {
  transition: 0.5s;
  color: darken($title-color, 30%);
}