// Buttons
.button {
  border-radius: 0.3em;
  border: 1px solid;
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 0.75em;
}

a.button:hover {
  background: $link-color;
  border: 1px solid $link-color;
  color: $background-color;
  text-decoration: none;
  transition: 0.5s;
}

// States
.disabled {
  opacity: 0.7;
}
